#errorBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	background-color: #1F1F1F;
	border-radius: 5px;
}

#errorBody p.errorMessage {
	font-style: italic;
}

#errorBody a {
	color: #0078D4;
}