body {
	background-color: #313131;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body::-webkit-scrollbar {
	display: none;
}

#container {
	display: grid;
	/* Keeps first column at 60% within 250px-800px, second column takes up rest of page */
	grid-template-columns: minmax(250px, 60%) minmax(calc(100% - 800px), 40%);
	gap: 5px;
	overflow: hidden;
}

#canvas {
	image-rendering: pixelated;
	width: 100%;
}

#pieceDisplay.hidden {
	opacity: 0;
}

#pieceDisplay {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	height: fit-content;
	background-color: #1F1F1F;
	border-radius: 5px;
	opacity: 1;
	transition: opacity .1s ease-in-out;
}

#pieceBanner {
	position: absolute;
	width: 100%;
	height: 48px;
	background-color: #0078D4;
	border-radius: inherit;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	mask: url(#semicircle);
}

#pieceHeader {
	display: flex;
	flex-direction: row;
}

#pieceIcon {
	image-rendering: pixelated;
	width: 64px;
	height: 64px;
	margin: 24px 0px 0px 16px;
}

#pieceNames {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#pieceName {
	margin: 49px 0px 0px 0px;
	font-size: 1.4em;
	font-weight: bold;
}

#pieceNamespace {
	margin-top: -5px;
	color: lightgray;
}

#pieceCoords {
	display: flex;
	flex-direction: column;
	margin: auto 10px 0px 10px;
	text-align: right;
	color: lightgray;
}

#pieceStats {
	height: 100%;
	margin: 5px;
	padding: 5px;
	background-color: #313131;
	border-radius: 5px;
}

#potentialMoves.hidden {
	opacity: 0;
}

#potentialMoves {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	width: calc(100% - 10px);
	height: fit-content;
	opacity: 1;
	background-color: #1F1F1F;
	border-radius: 5px;
	transition: opacity .1s ease-in-out;
}

#potentialMoves > code {
	max-width: 390px;
	height: fit-content;
	background-color: #313131;
	border-radius: 5px;
	padding: 5px;
	overflow-wrap: anywhere;
	text-wrap: balance;
}

#potentialMoves > code:hover, #potentialMoves > code.highlighted {
	background-color: #0078D4;
	cursor: pointer;
}

#gameMoves {
	max-width: 390px;
	background-color: #1F1F1F;
	border-radius: 5px;
	padding: 5px;
}

#prevMove {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

#prevMoveEvalIcon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	min-width: 1rem;
	align-self: center;
	background-color: #B5CEA8;
	border: 1px solid white;
	border-radius: 100%;
}

#prevMoveMain {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: center;
}

#prevMoveMain > code {
	overflow-wrap: anywhere;
}

#prevMoveEval {
	align-self: flex-start;
	padding: 3px;
	background-color: #313131;
	border-radius: 5px;
	font-weight: bold;
}

#stateStack {
	height: 0px;
	min-height: 0%;
	overflow-y: auto;
}

#stateStack::-webkit-scrollbar {
	width: 8px;
}

#stateStack::-webkit-scrollbar-thumb {
	background-color: #0078D4;
	border-radius: 8px;
}

#stateStackList {
	margin: 0px 5px 0px 0px;
	padding-left: 2em;
	overflow-wrap: anywhere;
	text-wrap: balance;
}

#stateStackList > li:nth-child(odd) {
	background-color: #313131;
}

#stateStackList > li > code {
	display: block;
}

#stateStackList > li > code:nth-child(2) {
	text-align: end;
}

.boolean {
	color: #569CD6;
}

.number {
	color: #B5CEA8;
}

.string {
	color: #CE9178;
}

hr {
	border: none;
	border-top: 2px solid #313131;
}